<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- Red Banner with Pokéball in the center -->
            <div class="banner  d-flex align-items-center justify-content-center mb-5 mt-2" style="height: 300px">
                <img src="assets/images/banner.jpg" alt="Pokeball" class="img-fluid" />
            </div>
        </div>
    </div>
    <!-- Search bar -->
    <div class="input-group mb-4">
        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="applySearchTerm()" class="form-control"
            placeholder="Search Pokémon by name..." aria-label="Search Pokémon">
    </div>

    <!-- Display Pokémon Cards -->
    <div class="row">
        <div class="col-md-4" *ngFor="let pokemon of filteredPokemons">
            <div class="card mb-4" (click)="openPokemonModal(pokemon)">
                <img [src]="pokemon.images.large" class="card-img-top" alt="{{ pokemon.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">HP: {{ pokemon.hp }}</p>
                    <p class="card-text">Type: {{ pokemon.types.join(', ') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>