
.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header {
    background-color: #f8d7da; 
    color: #721c24;
}

.modal-footer {
    background-color: #f8d7da;
    justify-content: flex-end;
}

