/* You can add global styles to this file, and also import other style files */

body {
    background-color: #ffcc01;
}

.img-fluid {
    width: 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@media (max-width: 600px)  { 
    .custom-container {
        flex-direction: column-reverse;
    }
}


